*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
.img{
    background-image: url("/IMAGES/lawn.jpg");
    width: 100%;
    height: 30vh;
    background-position: center;
    background-size: cover;
}

ul{
    width:100%;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li{
    text-align: center;
    background-color: rgb(17, 17, 17);
}
a{
    display: block;
    color:rgb(204, 204, 204);
    font-size: 30px;
    padding:10px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a:hover{
    background-color: rgb(48, 48, 48);
    transition: all 0.4s ease-out;
    color: #fff;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
}
p{
    text-align: center;
    padding: 20px 40px 20px;
    font-size: 20px;
}

.wrapper-story p{
   font-size: 20px;
   padding-top:15px;
   padding-bottom: 15px;
   padding-left: 14%;
   padding-right: 14%;
   padding-bottom: 30px;
}
.story-header img{
width: 80%;
display: block;
margin: auto;
height: 40vh;
border: 6px solid #292929;
}
.story-text {
    font-size: 20px;
    padding: 20px 30px 20px;
 }
.story-header {
    font-size: 25px;
    text-align: center;
}
.story{
    padding-top: 20px;
}







.footer-container{
    background-color: rgb(46, 46, 46);
    padding: 3rem 0 3rem 0;
}
.footer{
    width: 80%;
    height: 40vh;
    background-color: rgb(46, 46, 46);
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer-heading h2{
margin-bottom: 2rem;

}
.footer-heading a{
    color: white;
    text-decoration: none;
    margin-bottom:0.5rem;

}
.footer-heading a:hover{
color: red;
transition: 0.3s ease-out;
}

.footer-email-form h2{
    margin-bottom: 3rem;
}
#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: .5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1

}
#footer-email-btn{
width: 100px;
height: 40px;
border-radius: 4px;
background-color: rgb(196, 0, 0);
outline: none;
border: none;
color: white;
font-size: 1rem;
text-align: center;
}

#footer-email-btn:hover{
    cursor: pointer;
    background-color: rgb(212, 77, 77);
    transition: all 0.4s ease-out;
}

@media screen and (min-width: 1150px) {
    .footer{
        height:90vh;
    }
    .footer-email-form{
        margin-top: 4rem;
    }
    .img{
        background-image: url("/IMAGES/lawn.jpg");
        width: 100%;
        height: 110vh;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color:rgb(17,17,17);
        width: 100%;
        position: fixed;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 25px;
        text-decoration: none;
        font-size: 25px;
        background-color: rgb(17,17,17);
      
      }
      li a:hover {
        background-color: #292929;
    }
    .story-header img{
        width: 30%;
        margin: 0;
        height: 40;
        padding-left:150px;
        padding-top: 3rem;
        border: none;
        vertical-align: middle;
        }
    
.wrapper-story{
    width: 100%;
    height: 100vh;
    display: block;
}
   
#story-text{
    display: inline
}
}



@media screen and (max-width: 820px) {
    .footer{
        padding-top: 2rem;
    }
}
#footer-email-btn:hover{
    cursor: pointer;
    background-color: rgb(212, 77, 77);
    transition: all 0.4s ease-out;
}
.img{
    background-image: url("/IMAGES/lawn.jpg");
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
}


@media screen and (max-width: 884px) {
    .footer-3{
       display: none;
    }
    .footer-email-form{
        margin-top: 1.5rem;
        padding-bottom: 0;
    }
    .footer{
        height: 80vh;
    }
}

@media screen and (max-width: 632px){
    .footer{
        font-size: .9rem;
        height: 70vh;
    }
    .footer a{
        font-size: .9rem;
    }
    .footer-email-form{
        margin-top: 0;
    }
}

@media screen and (max-width: 429px){
    .footer a{
        padding: 0;
    }
}


@media screen and (min-width: 720px) {
    ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color:rgb(17,17,17);
        width: 100%;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 25px;
        text-decoration: none;
        font-size: 25px;
        background-color: rgb(17,17,17);
      
      }
      li a:hover {
        background-color: #292929;
    }
}
@media screen and (min-width: 885px) {
    .footer{
        height: 100vh;
    }
}